@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ボタン */

  .app-btn-primary {
    @apply bg-blue-500 text-white px-4 py-2;
  }

  /* タイトル */

  .app-h2 {
    @apply text-2xl font-bold tracking-tight text-gray-800 border-l-8 pl-4 border-blue-300 mb-4;
  }
  .app-h3 {
    @apply text-xl font-semibold text-blue-700 my-3;
  }

  /* 通常のリンク */
  .app-link-normal {
    @apply text-blue-600 hover:underline;
  }
}
