name: docker_wsl

services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    container_name: nginx

  php:
    build: ./docker/php
    user: "1000:1000"
    volumes:
      - .:/var/www/html
    container_name: php-fpm

  node:
    image: node:20-alpine
    user: "1000:1000"
    working_dir: /app
    ports:
    - "5173:5173"
    volumes:
      - ./:/app
    command: sh -c "npm install && npm run dev"
    tty: true
    container_name: node
